:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
  --family: 'Work Sans', arial;
  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

button {
  font: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--family);
  font-weight: var(--fw-normal);
  background-color: var(--purple-100);
  color: var(--purple-950);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -10;
}

.header__image {
  width: 100%;
}

.faq-accordion {
  background-color: var(--white);
  max-width: 40.625rem;
  margin-inline: 1.5rem;
  margin-block: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: hsl(292, 42%, 14%, 0.2) 0px 10px 30px -3px,
    hsl(292, 42%, 14%, 0.05) 0px 4px 6px -2px;
}

.faq-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.faq-header__icon {
  width: 25px;
}

@media (min-width: 30em) {
  .faq-accordion {
    padding: 2.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .faq-header__icon {
    width: 35px;
  }
}

.faq-item:not(:last-child) {
  border-bottom: 2px solid var(--purple-100);
}

.faq-item__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  margin-block: 1.5rem;
}

.faq-item__details.last-child {
  margin-bottom: 0;
}

.faq-item__title {
  font-size: 1rem;
  font-weight: var(--fw-semi-bold);
  line-height: 1.2;
  cursor: pointer;
  transition: 200ms;
}

@media (min-width: 30em) {
  .faq-item__title {
    font-size: 1.125rem;
  }
}

.faq-item__title:hover {
  color: purple;
}

.faq-item__button {
  background: none;
  border: none;
  min-width: 30px;
}

.faq-item__content {
  color: var(--purple-600);
  line-height: 1.4;
  height: 0;
  margin-top: 1rem;
  overflow: hidden;
  transition: 300ms;
}
